{% extends 'base.html'%} {% block 'content' %}{%load crispy_forms_tags%}
<div class="container my-2">
    <div class="row">
        <h1 class="display-1">Home </h1>
        <div class="col-xl-3 col-sm-0">
            <div class="d-none d-xl-block ">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
            </div>
        </div>
        <div class="col-xl-9 col-sm-12 mx-auto">
            <div class="row mx-auto">
                {% for po in post %}
                <div class="col-xl-3  mx-auto">
                    <div class="card" >
                        <img src="{{po.image.url}}" class="card-img-top" height="250px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{po.title|truncatechars:40}}</h5>
                            <p class="card-text fw-light">Category: {{po.category.cat_title|truncatechars:20}} <span> Author : {{po.author}}</span></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}